* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items:center;
    justify-content:left;
    padding-left: 100px;
    min-height: 100vh;
    background: linear-gradient(to right, #333131, #333131);
    background: url(img/Chocolate-cake-and-cherries-delicious-food_3840x2160.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

form {
    display: flex;
    flex-direction: column;    
    text-align: center;
    padding: 20px 25px;
   
}

form .title {
    color: #252525;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label .fa-solid {
    font-size: 20px;
    color: #cb232c;
    margin-right: 10px;
}

form label input {
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #ce1d61;
    padding: 0 5px;
    font-size: 18px;
}

form label input::placeholder {
    color: rgba(37, 37, 37, 0.5);
}


form .link {
    color: #252525;
    margin-bottom: 15px;
}

form button {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #cb232c, #ce1d61);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}